@media screen and (max-width: 1199px) {
    .container {
        width: 960px;
    }

    .promo__wrap {
        padding-top: 120px;
        padding-bottom: 120px;
    }

    .promo__wrap__content__title {
        font-size: 27px;
        width: 564px;
    }

    .promo__wrap__photo {
        width: 465px;
        height: 360px;
        right: 0;
    }

    .bookmakers__wrap__item {
        width: 310px;
    }

    .instruction__wrap__item {
        width: 310px;
    }


}